h1{
    font-size: 50px;
    color:aqua;
}
p{color: #ffebcd;
font-size: 30px;}

a{
    color: aqua;
    font-size: 30px;}

img{
    font-size: 10px}

OL{font-size: 20px;}

h2{
    font-size: 40px;
    color:#ffebcd;}